.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.menu-lista{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__item input[type=text]{
    border: solid 1px #F5F5F5;
    border-radius: 20px;
    padding: 10px;
    width: 25vw;
    margin: 1rem;

    background: url(../icons/search.png) no-repeat scroll 7px 7px;
    background-position: right;
}

.menu-lista a{
    border: solid 1px #2A7AE4;
    color: #2A7AE4;
    padding: 1rem;
    text-decoration: none;
    margin-right: 1rem;
}

@media (max-width: 650px){
    .menu__item input[type=text]{
        width: 10px;
        background-position: center;
    }
    
    .menu__item input[type=text]::placeholder{
        color: transparent;
    }
}